.photo-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  margin: 0 16px 64px;
  object-fit: cover;
}

@media screen and (min-width:425px) {
  .photo-grid {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media screen and (min-width:768px) {
  .photo-grid {
    margin: 0 24px 88px;
  }
}

@media screen and (min-width:1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto 92px;
    gap: 14px;
  }
}

@media screen and (min-width:1280px) {
  .photo-grid {
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}