.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  color: #fff;
  margin-bottom: 32px;
}

.footer__link:last-child {
  margin-bottom: 0;
}

@media screen and (min-width:768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.12;
    margin-right: 18px;
  }
}