.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: #FFF;
}

@media screen and (min-width:768px) {
  .cover__title {
    line-height: 1.14;
  }
}