.lead__image-container {
  width: 100%;
  position: relative;
}

@media screen and (min-width:1024px) {
  .lead__image-container {
    max-width: 928px;
  }
}  

@media screen and (min-width:1280px) {
  .lead__image-container {
    max-width: 984px;
  }
}   