.cover__background {
  min-height: calc(320px / 1.6);
  position: relative;
  background-image: url('../../../images/cover-trains.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}


@media screen and (min-width:425px) {
  .cover__background {
    min-height: calc(425px/1.6);
  }
}

@media screen and (min-width:600px) {
  .cover__background {
    min-height: calc(600px/1.6);
  }
}

@media screen and (min-width:768px) {
  .cover__background {
    min-height: calc(768px/1.6);
  }
}

@media screen and (min-width:1024px) {
  .cover__background {
    min-height: calc(1023px/1.6);
  }
}

@media screen and (min-width:1280px) {
  .cover__background {
    min-height: calc(1184px/1.6);
  }
}

.cover__background:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2a2c2f;
  opacity: 0.3;
}

.cover__background:hover::before {
  opacity: 0.8;
}