.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 1.09;
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
  z-index: 1;
  max-width: 280px;
}

@media screen and (min-width:768px) {
  .cover__title {
    font-size: 72px;
    line-height: 1.06;
    max-width: 560px;
  }
}
