.place {
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.place:last-child {
  margin-bottom: 0;
}

@media screen and (min-width:768px) {
  .place {
    display: grid;
    /* вероятно, что тут проблема в ширине колонок, особенно, второй*/
    grid-template-columns: 340px calc(100% - 340px - 28px);
    grid-template-rows: min-content max-content;
    gap: 48px 28px;
    margin-bottom: 77px;
  }
}

@media screen and (min-width:1024px) {
  .place {
    max-width: 928px;
    gap: 48px 32px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width:1280px) {
  .place {
    max-width: 984px;
    gap: 48px 40px;
  }
}